<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>v-bind estilos css</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
</head>
<body>
	<div id="main" class="container">
		<p>Ingrese un nombre sin espacios en blanco:
			<input type="text" v-model="nombre" v-bind:style="{'color': colorNombre}">
	   </p>
	   <h4>Ejemplo 2</h4>
	   <p>Tamaño de la fuente:
	      <input type="range" v-model="tamañoFuente" min=10 max=100>{{tamañoFuente}}
      </p>
      <p>Color:
	      <input type="color" v-model="colorParrafo">
      </p>      
      <p v-bind:style="{'font-size':tamañoFuente+'px', 'color': colorParrafo}">Párrafo de prueba</p>
	</div>
	<script type="text/javascript">
		new Vue({
			el: '#main',
			data: {
				nombre: '',
				tamañoFuente: 20,
       	colorParrafo: '#000'		
			},
			computed: {
    		colorNombre: function() {
           if (this.nombre.includes(' '))
             return '#f00';
           else
             return '#000';
       	}
     	}       
		});
	</script>
</body>
</html>